#search-div{
	position: absolute; 
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 70px; 
}

#results{
	position:absolute;
	top:20vh;
}

#random-div{
	display:flex;
	justify-content:space-between;
}

#search-box-div{
	display:flex;
	justify-content:space-between;
}